# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

### **Objectives:**
+ Some of the popular languages that Data Scientists
+ Some of the commonly used libraries used by Data Scientists
+  few examples of evaluating arithmetic expressions in Python
+  Converting minutes to hours

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Data Science Tools

| Data Science Tools |
| --------- | 
| Jupyter Notebook | 
|RStudio | 
| VS Code |

# Introducing Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [4]:
x = (3*4)+5
print(x)

17

### This will convert 200 minutes to hours by diving by 60

In [6]:
minutes = 200
hours = minutes / 60
hours_round = round(hours, 3)
print("200 minutes is equal to", hours_round, "hours")

200 minutes is equal to 3.333 hours

## Author
Atabo Mohammed